*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html,
body {
  font: 12px/1.5 Arial, Helvetica, sans-serif;
  margin: 0 auto;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

footer {
  border-top: 1px solid #000;
  margin-top: auto;
  top: 0;
}

#footer-content {
  width: 80%;
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

#footer-content p {
  font-size: 1.2em;
}
