#map {
  height: 100%;
}

.map-container {
  margin-top: 1em;
  height: 100vh;
  margin-bottom: calc(20px + 2em);
}

#directions-panel {
  float: right;
  width: 100%;
}

#distance-panel {
  padding-top: 1em;
  float: left;
}

#clear-directions {
  border: none;
  padding: 1em;
  margin-top: 0.5em;
  float: right;
  margin-bottom: 0.5em;
}
