#map {
  height: 100%;
}

.map-container {
  margin-top: 1em;
  height: 62vh;
  margin-bottom: calc(30px + 2em);
}

#directions-panel {
  float: right;
  width: 100%;
}

#distance-panel {
  padding-top: 1em;
  float: left;
}

#clear-directions {
  background-color: var(--secondary);
  padding: 0.5em;
  cursor: pointer;
  margin-top: 0.3em;
}
