/***** MAP STYLES *****/
#map {
  height: 100%;
}

/* ensure the map doesnt overlap the footer with a calc */
.map-container {
  margin-top: 1em;
  height: 62vh;
  margin-bottom: calc(30px + 2em);
}

/* clear directions button */
#clear-directions {
  background-color: var(--secondary);
  padding: 0.5em;
  cursor: pointer;
  margin-top: 0.3em;
}
